* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 500;
}
/* INIZIO STILI HEADER */
header {
    background-color: rgb(49, 97, 224);
    height: 100%;
}
header .container {
    padding: 15px 0px;
}
.row-header {
    justify-content: space-between;
}
.row-header *{
    display: flex;
    align-items: center;
}
.col-login {
}
.link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 20px;
}
#login {
    font-size: 12px;
    background-color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 15px;
    font-family: roboto, sans-serif;
    font-weight: 500;
}
/* JUMBOTRON */
.background-jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}
.container-jumbotron {
    width: 46%;
    padding: 90px 0px 135px;
    margin: auto;
}
.col-jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1, .col-jumbotron p {
    color: white;
    text-align: center;
}
h1 {
    font-size: 45px;
}
.col-jumbotron p {
    font-size: 16px;
    margin: 40px 0px 30px;
    line-height: 1.7;
}
.col-jumbotron button {
    font-family: roboto, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin: 0px 10px;
    font-size: 16px;
}
.jumbo-buttons :nth-child(2) {
    color: white;
    background-color: rgb(35, 39, 42);
}
.download-icon {
    padding-right: 5px;
}
/* FINE STILI HEADER */
/* INIZIO STILI MAIN */
.container-main {
    padding: 50px 0px;
}
.row-main {
    height: 400px;
}
.col-60 {
    width: 60%;
    background-color: rgb(30, 144, 255);
}
.col-40 {
    width: 40%;
    background-color: rgb(255, 192, 203);
}
.background-colored {
    background-color: rgb(211, 211, 211);
}
.row-main-4 {
    height: 600px;
}
.row-main-4 .col {
    width: 100%;
    background-color: rgb(34, 139, 34);
}
/* FINE STILI MAIN */
/* INIZIO STILI FOOTER */
/* FOOTER TOP */
.background-footer {
    background-color: rgb(35, 39, 42);
}
.container-footer-top {
    padding: 10px 0px 40px 0px;
}
.row-footer-top {
    height: 450px;
}
.col-30 {
    width: 30%;
    background-color: rgb(240, 128, 128);
}
.col-70 {
    width: 70%;
    background-color: rgb(32, 178, 170);
}
.row-col-70 {
    height: 100%;
}
.col-25 {
    width: 25%;
    border: 2px dashed white;
}
/* FOOTER BOTTOM */
.background-footer-bottom {
    margin-top: 2px;
}
.background-footer-bottom .container {
    padding-top: 30px;
}
.row-footer-bottom {
    justify-content: space-between;
    background-color: rgb(127, 255, 212);
}
.row-footer-bottom .col {
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: rgb(255, 182, 193);
}
/* FINE STILI FOOTER */
/* INIZIO STILI IN COMUNE */
.container {
    width: 70%;
    margin: auto;
}
.row {
    display: flex;
    width: 100%;
}
.col {
    border: 2px dashed black;
}
/* FINE STILI IN COMUNE */